<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="50" id="com.zarbi.safecrash" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SafeCrash</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="hadrien.c@redsetapp.com" href="https://zarbium.fr">
        Hadrien Casadesus
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash density="hdpi" src="res/screen/android/splash_port_hdpi.png" />
        <splash density="ldpi" src="res/screen/android/splash_port_ldpi.png" />
        <splash density="mdpi" src="res/screen/android/splash_port_mdpi.png" />
        <splash density="xhdpi" src="res/screen/android/splash_port_xhdpi.png" />
        <splash density="xxhdpi" src="res/screen/android/splash_port_xxhdpi.png" />
        <splash density="xxxhdpi" src="res/screen/android/splash_port_xxhdpi.png" />
        <icon src="res/icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
    </feature>
    <feature name="Vibration">
        <param name="android-package" value="org.apache.cordova.vibration.Vibration" />
    </feature>
    <engine name="ios" />


</widget>
